.body_background {
	background-image: url("Bg.png");
	background-position: center;
	background-size: cover;
    text-align: center;
}

#myCanvas{
    border-style: ridge;
    border-color: darkmagenta red greenyellow orangered;
    border-right: 40;
   background-color: white;
   border-width: 10;

}
h1{
    background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: 10000000000000000000000000000000;
  color: aliceblue;
}
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }